/***** General Styles ******/

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
 overflow-x: hidden;
 width: 100vw;
 position: relative;
}
.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width:1200px;
  padding-right: 16px;
  padding-left:  16px;
}

/***** Introduction Section *****/

.introduction {
  background-color: #2C155B;
  color: #ffffff;
}
.content {
  width: 100%;
}
/* DESKTOP */
@media (min-width: 600px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .half {
    width: 50%;
  }
}
.h1-merriweather {
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 2rem 0;
}
.h2-merriweather {
  font-size: 1.5rem;
  opacity: 80%;
  margin-bottom: 3rem;
}
.button-container {
  margin-top: 35px;
}
.see-my-work {
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #2C155B;
  padding:10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.see-my-work:hover {
  background-color: #F280E7;
}
/* DESKTOP */
@media (min-width: 600px) {
  .see-my-work{
    max-width: 225px;
  }
}
.illustration {
  display: none;
}
@media (min-width: 600px) {
  .illustration {
    display:block;
  }
}
.down-arrow {
  text-align: center;
}

/********** PROJECT SECTION *************/

.yourspace, .opening-page,  .the-process, .takeaways, .aboutme {
  background-image: url('../pictures/purpleshade.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
/* DESKTOP */
@media (min-width: 600px) {
  .your-space-flex {
    display:flex;
    flex-direction: row;
  }
}
.project-pic {
  margin-top: 3rem;
}
.otherhalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  text-align: left;
  margin-bottom: 0.5rem;
}
.role {
  margin-bottom: 1rem;
  font-weight: lighter;
  font-size: 1em;
  opacity: 0.5;
}
/* DESKTOP */
@media (min-width: 600px) {
  .homepage-para {
    width:65%;
  }
}
.button1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #2C155B;
  padding:10px;
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
  text-decoration: none;
}
.button1:hover {
  background-color: #F280E7;
}
/* DESKTOP */
@media (min-width: 600px) {
  .button1 {
    max-width: 225px;
    margin-bottom: 0px;
  }
}

/********** CASE STUDY SECTION *************/

/* General Styles */

/* DESKTOP */
@media (min-width: 600px) {
  .section-padding {
    padding: 4rem 0;
  }
}
.process {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* Overview Section*/

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.overview-pic {
  width: 70%;
  /*margin: 2rem;*/
  align-self: center;
  padding-top: 4rem;
}
/* DESKTOP */
@media (min-width: 600px) {
  .overview-pic {
    width:30%;
  }
}
.desktop {
  width:90%;
  height: auto;
  margin-top: 1rem;
  align-self: center;
}
/* DESKTOP */
@media (min-width: 600px) {
  .desktop {
    width:80%;
  }
}
.case-study-button {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #2C155B;
  padding:10px;
  width: 100%;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}
.case-study-button:hover {
  background-color: #F280E7;
}
/* DESKTOP */
@media (min-width: 600px) {
  .case-study-button {
    max-width: 225px;
  }
  .case-study-button-center {
    margin-left: auto;
    margin-right: auto;
  }
}

/*Problem and Solution Section */
.problem-with-solution {
  background-color: #2C155B;
  color: #ffffff;
}
.problem-and-solution h2.process {
  color: #ffffff;
}
.problem-and-solution, .myprocess, .mycolor, .my-typography, .hifid-flex, .black-and-white-logo, .final-prototype-flex, .takeaway-flex, .bio{
  display:flex;
  flex-direction: column;
}
/* DESKTOP */
@media (min-width: 600px) {
  .problem-and-solution {
    flex-direction: row;
    align-items: center;
  }
  .paragraph-holder {
    max-width: 500px;
  }
}
h2.process {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  font-weight: bold;
  /*margin-top: 3rem;
  margin-bottom:2rem;*/
  align-self: center;
  color: #9F05FA;
}
p {
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}
img.phone {
  width:60%;
  align-self: center;
}
/* DESKTOP */
@media (min-width: 600px) {
  img.phone {
    width:40%;
    margin: auto;
  }
}

/************ Process Section ************/
/* DESKTOP */
@media (min-width: 600px) {
  .show-mobile {
    display: none;
  }
}
.show-desktop {
  display: none;
}
/* DESKTOP */
@media (min-width: 600px) {
  .show-desktop {
    display: block;
  }
}

/* User Survey */
.user-survey {
  background: none;
}

/* DESKTOP */
@media (min-width: 600px) {
  .user-survey {
    background: url('../pictures/illustrationpic.png') left 50% no-repeat;
    background-size: 45% auto;
  }
  .flex-wrapper {
    display: flex;
  }
  .flex-wrapper > * {
    width: 50%;
  }
  .flex-wrapper .paragraph-holder {
    max-width: 100%;
  }
  .user-survey .wrapper > div {
    width: 50%;
  }
}
.quote {
  color: #9F05FA;
  font-size: 1.5rem;
}
.survey-highlights {
  background-color: #F7F2FA;
  padding: 2.5rem;
  line-height: 2.5rem;
  }

.process-steps {
  color:  #9f05fa;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 3rem 0;
  /*border-bottom: 2px solid #9f05fa;*/
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5rem 0;
  }
.indent {
  line-height: 1.75rem;
  margin-left: 2rem;
}
.sub-heading {
  padding-top: 1rem;
}

/* User Personas */

.user-personas {
  background-color: #F7F2FA;
}

img.image {
  margin-bottom: 1.5rem;
}
/* DESKTOP */
@media (min-width: 600px) {
  .image-padding-left {
    padding-left: 5rem;
  }
}

/* Competitive Analysis */
.paragraph-holder-center {
  margin: 0 auto;
}

/* DESKTOP */
@media (min-width: 600px) {
  .paragraph-holder-spacing {
    padding-left: 2rem;
  }
}

.center-align {
  text-align: center;
}
/* DESKTOP */
@media (min-width: 600px) {
  .center-align-exception {
    text-align: center;
  }
}
.button-center {
  max-width: 350px;
  margin: 0 auto;
}
.bottom-padding {
  padding-bottom: 4rem;
}

/* User Stories */
.user-stories {
  background-color: #F7F2FA;
}

.image-padding-right {
  padding-right: 5rem;
}

/* User Flows */

.user-flow-flex {
  display: flex;
  justify-content: center;
}
img.userflow {
  padding: 20px;
}
.userflow-for-mobile {
  display: none;
}
/* DESKTOP */
@media (min-width: 600px) {
  .userflow-for-mobile {
    display:flex;
  }
}
.flex-wrapper-center {
  align-items: center;
}

/* Wireframes */

.wireframes {
  background-color: #F7F2FA;
}
.add-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Brand Story */


/* High Fidelity Mockups and preference Testing */

.highfid-mockups {
  background-color: #2C155B;
  color: #FFFFFF;
}
.highfid-mockups h2.process-steps {
  color: #ffffff;
}
.add-padding-top {
  padding-top: 2rem;
}
/* DESKTOP */
@media (min-width: 600px) {
  .add-padding-top {
    padding-top: 0;
  }
}
.add-padding-top-survey {
  padding-top: 2rem;
}

h4{
  margin-top: 1.5rem;
  font-size: 0.875rem;
  text-align: center;
}

.indent2 {
  line-height: 1.75rem;
  margin-left: 5rem;
}
.logo-outline, .old-and-new-logos, .preference-test-icons  {
  width: 100%;
  align-self: center;
}

.image-center {
  display:block;
  margin: 0 auto;
}

.color-palette, .my-typography-image, .preference-test-icons, .old-and-new-logos,.logo-outline {
  margin: 1.5rem 0;
}
.final-landing-page {
  display: block;
  width:70%;
  margin: 1.5rem auto;
  align-self: center;
}
/* DESKTOP */
@media (min-width: 600px) {
  .final-landing-page {
    width: 60%;
  }
}

/********** ABOUT ME PAGE *************/

.my-photo {
  align-self: center;
  border-radius: 20px;
  margin: 3rem 0;
}
/* DESKTOP */
@media (min-width: 600px) {
  .my-photo{
    width: 50%;
  }
}
.aboutme{
  padding-bottom: 3rem;
}

/************* NAV BAR ********************/

nav {
  background-color: #000000;
  font-family: "Merriweather", serif;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-logo {
  width: 30%;
  height: 40%;
  margin: 0.5rem;
}
.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
}
.nav-links a{
  color:#ffffff;
  text-decoration: none;
  font-size: 1.125rem;
}
.burger{
  display: none;
  cursor:pointer;
  width: 10%;
  margin:5px;
  transition: all 0.5s ease;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
}
.nav-links a:hover{border-bottom: 3px solid #F280E7; padding-bottom: 10px; color:#F280E7;} /* mouse over */
.nav-links a:active{ border-bottom: 3px solid #F280E7; padding-bottom: 10px; color:#F280E7; } /* selected */
.nav-links a.active{ border-bottom: 3px solid #F280E7; padding-bottom: 10px;color:#F280E7;}
@media screen and (max-width:1024px){
  .nav-links{
    width: 40%;
  }
}
/* MOBILE*/
@media screen and (max-width:768px){
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:91px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    justify-content: flex-start;
    /*padding-top: 3em;*/
    justify-content: center;

  }
  .nav-links li{
    margin-bottom: 5em;
  }
  .nav-links a{
    font-size: 2.125rem;
  }

  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);

}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity:1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/************* FOOTER ********************/

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

}
.footer-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.github-logo, .linkedin-logo {
  width: 30px;
  margin : 5px;
}
.footer-button {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #2C155B;
  border-radius: 10px;
  border: 2px solid #2C155B;
  background-color: transparent;
  padding:10px;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}
.footer-button:hover {
  background-color: #F280E7;
  color: #FFFFFF;
}
@media (min-width: 600px) {
  .footer-button {
    max-width: 225px;
  }
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul.icons{
  display: flex;
  list-style: none;
}
.copyright {
  margin-left: 1rem;
  align-self: center;
  font-size: 1rem;
}
@media (max-width: 400px) {
  .copyright {
    padding-left: 2rem;
    font-size: 0.875rem;
  }
}
.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
